@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

#optionalInsuranceSection{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Baloo Thambi 2';
    padding-top: 50px;
}

#title{
    font-size: 38px;
    font-weight: 800;
    padding-bottom: 60px;
}

#container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #dbe6f4;
    width: 100%;
}

#info{
    padding: 25px 0 20px 0;
    width: 37%;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto';
}

#innerContainer{
    width: 12%;
    margin-left: -650px;
    padding-top: 50px;
}

.subTitles{
    font-family: 'Baloo Thambi 2';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4em;
    padding: 17px 0;
}

#cardContainer{
    margin: -345px -100px 0 0;
    display: flex;
    width: 25%;
    justify-content: space-between;
    padding-bottom: 20px;
}

.card{
    font-family: 'Baloo Thambi 2';
    font-weight: 700;
    font-size: 18px;
    border: solid 2px #286dbd;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47%;
    box-shadow:0 0 7px;
    background-color: white;
}

.cardTitle{
    padding: 8px 0;
    width: 100%;
    font-size: 24px;
    text-align: center;
    background-color: #286dbd;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.cardSection{
    line-height: 1.4em;
    padding: 17px 0;
}

.tick{
    font-size: 40px;
    font-weight: 800;
    color: #286dbd;
    line-height: 1.4em;
    padding: 40px 0 40px;
}

#learnMore{
    padding: 35px 0;
    font-size: 20px;
    font-weight: 800;
}

#quoteCall{
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 40px;
}

#quote{
    background-color: #286dbd;
    color: white;
    border-radius: 27px;
    padding: 10px 50px;
    box-shadow: 4px 4px 5px rgb(194, 194, 194);
}

#quote:hover{
    background-color: #d9d9d9;
    color: black;
}

#call{
    background-color: #dbe6f4;
    border-radius: 27px;
    padding: 10px 50px;
    box-shadow: 4px 4px 5px rgb(194, 194, 194);
}