.background {
    background: #d9d9d9;
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: space-between;
}

.topleft {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 60px;
    padding-top: 0.2px;

}

.contactus {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0 100px;
    padding-top: 0.5rem;
    padding-bottom: 10px;
}

.details {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: -2px 110px;
    position: relative;

    
}

.icons {
    height: 23px;
    position: relative;
    bottom: -6px;
    margin: 0.2rem 0.2rem;
    padding-right: 0.4rem;
}

.rightside {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 75px 80px

}

p {margin: 0;}